# Global ignores
.DS_Store
*.pem
*.log
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
node_modules/
.env
.env*.local
.tmp
.temp

# Ecom folder rules
Ecom/node_modules/
Ecom/.expo/
Ecom/dist/
Ecom/web-build/
Ecom/.metro-health-check*
Ecom/npm-debug.*
Ecom/yarn-debug.*
Ecom/yarn-error.*
Ecom/*.orig.*
Ecom/*.jks
Ecom/*.p8
Ecom/*.p12
Ecom/*.key
Ecom/*.mobileprovision
Ecom/*.tsbuildinfo

# Server folder rules
server/dist/
server/node_modules/
server/build
server/coverage
server/.nyc_output
server/.idea
server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings/
server/*.sublime-workspace
server/.vscode/*
!server/.vscode/settings.json
!server/.vscode/tasks.json
!server/.vscode/launch.json
!server/.vscode/extensions.json
server/pids
server/*.pid
server/*.seed
server/*.pid.lock
server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
